
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart-grid">
    <div class="cart-grid-column cart-grid-column--1"></div>

    <div class="cart-grid-column cart-grid-column--content">
        <!-- Page Heading -->
        <h2 class="page__heading">Cart</h2>

        @for (int x = 0; x < 3; x++)
        {
            <!-- Order Card -->
            <div class="order-card">
                <div class="info">
                    <h3 class="info--product">Name</h3>
                    <h4 class="info--price">Price</h4>
                </div>
                <div class="link">
                    <a href="#" class="link-remove">Remove</a>
                    <a href="" class="link-wishlist">Add To Wishlist</a>
                </div>
            </div>
        }

        <a href="#" class="btn btn-cart">Confirm Payment</a>

    </div>

    <div class="cart-grid-column cart-grid-column--3"></div>
</div>
